*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after{
    transition: all .3s;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.col-1-of-4{
    width: calc((100% - 90px) / 4);
    float: left;
}
.col-1-of-2{
    width: calc((100% - 30px) / 2);
    float: left;
}
.col-1-of-3{
    width: calc((100% - 60px) / 3);
    float: left;
}

.col-2-of-4{
    width: calc(2 * ((100% - 90px) / 4) + 30px);
    float: left;
}
.col-3-of-4{
    width: calc(3 * ((100% - 90px) / 4) + 60px);
    float: left;
}

 

.col-1-of-2:not(:nth-child(2n + 2)){
    margin-right: 30px;
}

.col-1-of-3:not(:nth-child(3n + 3)){
    margin-right: 30px;
}

.col-1-of-4:not(:nth-child(4n + 4)){
    margin-right: 30px;
}



body{
    font-family: 'Heebo', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.mr-0{
    margin-right: 0 !important;
}

ul{
    list-style-type: none;
}
a, a:hover{
    text-decoration: none;
}
input:focus, button:focus{
    outline: 0;
}

.row{
    display: flex; 
    flex-wrap: wrap;
}
.col-1-4{ 
    width: calc((100% - 90px) / 4);
}
.col-1-4:not(:nth-child(4n + 4)){
    margin-right: 30px;
}
.col-1-4:last-child{
    margin-right: 0;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
} 