/*
Theme: Web Hosting
Author: Web Team
Version: 1.0.0


------ Table of Content -------
1. banner section
2. pricing section
3. plan part
4. features part
5. loving section
6. team section
7. blog section 
*/


/* =================== banner section start =================== */
header{
    background-color: #071315;
    padding: 40px 0 120px;
    overflow: hidden;
}
.header_text .header_description{
    position: relative;
    z-index: 2;
}
header .menu {
    padding-top: 18px;
}
header .menu ul {
    float: right;
}
header .menu ul li{
    float: left;
}
header .menu ul li:not(:last-child) a{
    margin: 0 27px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    position: relative;
}
header .menu ul li:not(:last-child):hover a{
    color: #ffab47;
}
header .menu ul li:not(:last-child) a::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    background-color: #ffab47;
    top: 100%;
    left: 50%;
    transition: all .5s;
    transform: translateX(-50%);
}
header .menu ul li:not(:last-child):hover a::after{
    width: 100%;
}
header .menu ul li:last-child a{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    padding: 13px 25px;
    background-image: linear-gradient(140deg, #fa7236, #ff0566);
    border-radius: 50px;
    position: relative;
}
header .menu ul li:last-child a span{
    position: relative;
    z-index: 2;
}
header .menu ul li:last-child a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(140deg, #ff0566, #fa7236);
    opacity: 0;
}
header .menu ul li:last-child:hover a::after{
    opacity: 1;
}
header .menu ul li:last-child a img{
    height: 10px;
    margin-left: 5px;
}

/* header container */
header .header_text{
    padding-top: 140px;
}
header .header_text h1{
    font-size: 60px;
    font-weight: 100;
    color: transparent;
    background-image: linear-gradient(to right, #ff0566 10%, #fa7236 90%);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 72px;
    margin-bottom: 40px;
}
header .header_text p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    margin-bottom: 140px;
}

/* header form */
header .header_search_form{
    position: relative;
}
header .header_search_form input{
    width: 100%;
    border: 0;
    padding: 25px 215px 25px 35px;
    border-radius: 50px;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
}

header .header_search_form button{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 20px 30px;
    background-color: #fc3d4d;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
}
header .header_search_form button:hover{
    background-color: #fa7236;
}

/* header price */
.header_price{
    padding-top: 25px;
}
.header_price a.price_button,
.header_price span{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 25px;
}
.header_price a.price_button{
    color: #fc3d4d;
    border-bottom: 1px dotted #fc3d4d;
    overflow: hidden;
}
.header_price a.price_button:hover{
    color: #fa7236;
}
.header_price a.price_button:active i{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
}
/* header image */
header .header_image{
    position: relative;
}
header .header_image img{
    position: absolute;
    top: -225px;
    left: -270px;
}


/* =================== banner section end =================== */

/* =================== pricing section start =================== */
.price{
    background-color: #071315;
    padding-bottom: 80px;
}
.price .container .col-1-of-4{
    width: calc(100% / 4);
}
.price .single_pricing{
    padding: 35px 35px 50px 50px;
    background-image: linear-gradient(140deg, #049ec0, #04d4d5);
    margin-bottom: 75px;
    overflow: hidden;
    transition: all .2s;
}
.price .single_pricing:hover{
    transform: translateY(-5px);
}

.price .container .col-1-of-4:nth-child(2) .single_pricing{
    background-image: linear-gradient(140deg, #f97337, #ff0b63);
}
.price .container .col-1-of-4:nth-child(3) .single_pricing{
    background-image: linear-gradient(140deg, #bd63d9, #5c27fe);
}
.price .container .col-1-of-4:nth-child(4) .single_pricing{
    background-image: linear-gradient(140deg, #ffcb52, #ff7b02);
}
.price .single_pricing .price_header{
    display: flex;
}
.price .single_pricing .price_header .price_image,
.price .single_pricing .price_header .price_header_text{
    width: 50%;
}
.price .single_pricing .price_header .price_image img{
    margin-left: -135px;
    margin-top: -17px;
}

.price .single_pricing .price_header .price_header_text h3{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-bottom: 13px;
    padding-top: 20px;
}
.price .single_pricing .price_header .price_header_text p{
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 45px;
}

.price .single_pricing .price_header .price_header_text h4{
    font-weight: 100;
    font-size: 50px;
    color: #fff;
    margin-bottom: 7px;
    line-height: 40px;
}
.price .single_pricing .price_header .price_header_text span{
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}
.price .single_pricing .price_body{
    padding-top: 5px;
}
.price .single_pricing .price_body ul {
    min-height: 200px;
}
.price .single_pricing .price_body ul li{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.price .single_pricing .price_body ul li:first-child{
    font-weight: 700;
}
.price .single_pricing .price_body .btn-price{
    padding: 18px 38px;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    border: 2px solid #fff;
}
.price .single_pricing .price_body .btn-price:hover{
    background-color: #fff;
    color: #fc3d4d;
}
.price .pricing_footer {
    text-align: center;
    color: #8998af;
}
.price .pricing_footer h4 span,
.price .pricing_footer p i{
    color: #fc3d4d;
}
.price .pricing_footer p{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}
.price .pricing_footer h4{
    font-size: 24px;
    font-weight: 400;
}
/* =================== pricing section end =================== */



/* =================== plan part start =================== */
.plan{
    background-color: #0d0f24;
    padding: 50px 0; 
}
.plan .section_title h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
.plan .single_plan {
    padding: 8px 55px 8px 8px;
    background-color: #262839;
    border-radius: 3px;
    position: relative;
    margin-bottom: 15px;
}
.plan .single_plan i:not(.icon_right){
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: #353848;
    text-align: center;
    color: #04b3c8;
    margin-right: 15px;
    font-size: 20px;
}
.plan .single_plan span{
    color: #8998af;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}
.plan .single_plan i.icon_right{
    color: #34b358;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
/* =================== plan part end =================== */


/* =================== features part start =================== */
.features{
    padding: 50px 0;
    background-color: #0d0f24; 
}

.common_section_title{
    text-align: center;
}
.common_section_title h4{
    text-transform: uppercase;
    color: #fc3d4d;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 12px;
    margin-bottom: 10px; 
}
.common_section_title h2{ 
    color: #fff;
    font-weight: 300; 
    font-size: 34px;
    margin-bottom: 20px; 
}
.common_section_title p{ 
    color: rgba(255,255,255,.5);
    font-weight: 400; 
    font-size: 16px; 
    margin-bottom: 70px;
    line-height: 28px; 
    padding:  0 170px;
}

.features .single_feature{
    background-color: #221f3a;
    border-radius: 5px;
    display: flex;
    margin-bottom: 30px;
}
.features .single_feature .feature_icon{
    width: 230px; 
    background-image: url(../images/feature_single_bg.png);
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
} 
 
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 60px;
    margin-left: 0;
    background-image: linear-gradient(#ff0a64, #fa6b39);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 150px;
}
.features .single_feature .feature_description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.features .single_feature .feature_description p{
    color: #8998af;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 24px;
}

/* =================== features part end =================== */


/* =================== loving section start =================== */
.loving{
    padding: 70px 0;
    background-color: #0d0f24;
}

.loving .loving_image img{
    width: 100%;
}

h2.underline_title{
    font-size: 20px;
    color: #fff;
    font-weight: 400; 
    padding-bottom: 25px;
    position: relative; 
    margin-bottom: 25px;
}
h2.underline_title::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 100px;
    background-color: #fc3d4d;
    top: 100%;
    left: 0;
}

.loving .loving_content{
    padding-top: 60px;
}
.loving .loving_content p{
    color: rgba(255,255,255,.5);
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 18px;
    font-weight: 400;
}
.loving .loving_options{
    margin-top: 50px;
}
.loving .loving_options .loving_map img{
    width: 100%;
}
.loving .loving_options ul li{
    color: rgba(255,255,255,.5);
    font-size: 15px;
    line-height: 35px; 
    font-weight: 400; 
}
.loving .loving_options ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f233";
    display: inline-block;  
    font-weight: 900;
    color: rgba(255,255,255,.5);
    margin-right: 13px;
}



/* =================== loving section end =================== */



/* =================== team section start  =================== */
.team{
    padding: 70px 0;
    background-color: #250d0f;
}
.single_team{
    background-color: #170809;
    padding: 100px 0;
    width: 100%;
    margin-bottom: 30px;
}

/* =================== team section end =================== */


/* =================== blog section start  =================== */
.blog{
    padding: 70px 0;
    background-color: #0e0505;
}

.blog .single_blog{
    overflow: hidden;
    position: relative;
}
.blog .single_blog img{
    width: 100%;
}
.blog .single_blog .blog_categories{
    position: absolute;
    width: 100%;
    padding: 10px; 
    top: 0;
    left: 0;
}
.blog .single_blog .blog_categories a{
    padding: 6px 10px;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #f9533b;
    border-radius: 3px;
}
.blog .single_blog .blog_categories a.orange{
    background-color: #fda400;
}
.blog .single_blog .blog_categories a.cayan{
    background-color: #00a5bb;
}
.blog .single_blog .blog_info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 10%, black 60%);
    color: #fff; 
}
.blog .single_blog .blog_info h3{
    margin-top: 15px;
}
/* =================== blog section end =================== */
















